body{
  background-image: url('./Images/rsz_nrd-d6tu_l3chle-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}

.selectors-wrapper{
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

pre {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white;
}

select {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  margin: 10px;
  padding: 2px;
  border-radius: 6px;
  min-width: 80px; 
}

.select-label {
  background-color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 20px
}

.container{
  width: 100%; 
  height: 100%;
}